html {
  font-family: "Inter", sans-serif;
}

body {
  width: 1200px;
  max-width: 90vw;
  margin: 0 auto;
}

section h2 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

/* Header Bar */

header {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f2937;
}

header .title span {
  font-weight: 600;
  color: #22c55e;
}

header .settings {
  fill: #1f2937;
}

header .settings svg {
  display: block;
}

/* Quick Stats */

#stats {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.stat-card {
  border-style: solid;
  border-width: 1px;
  border-color: #d1d5db;
  border-radius: 1rem;
  padding: 1rem;
  transition: 0.3s;
  cursor: pointer;
}

.stat-card:hover {
  box-shadow: 0 0 10px var(--_secondary-color);
}

.stat-card p {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

.stat-card .stat-card-content {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.stat-card .stat-card-icon {
  padding: 0.5rem;
  border-radius: 9999px;
  background-color: var(--_secondary-color);
  fill: var(--_primary-color);
}

.stat-card .stat-card-icon svg {
  display: block;
  width: 24px;
  height: 24px;
}

.stat-card .stat-card-content span {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f2937;
}

.start-card-red {
  --_primary-color: #ef4444;
  --_secondary-color: #fecaca;
}

.start-card-orange {
  --_primary-color: #f97316;
  --_secondary-color: #fed7aa;
}

.start-card-green {
  --_primary-color: #22c55e;
  --_secondary-color: #bbf7d0;
}

.start-card-blue {
  --_primary-color: #3b82f6;
  --_secondary-color: #bfdbfe;
}

/* Issues */

#issues {
  margin-bottom: 4rem;
}

.issue-cards {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 1rem;
}

.issue-card {
  border-style: solid;
  border-width: 1px;
  border-color: #d1d5db;
  border-radius: 1rem;
  padding: 1rem;
  min-width: 250px;
}

.issue-card-name {
  font-weight: 500;
  color: #1f2937;
}

.issue-card-target {
  color: #6b7280;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.issue-card-timestamp {
  color: #6b7280;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

/* Monitors */

.monitors-outer {
  overflow-x: auto;
  margin: 0 -5vw;
  padding: 0 5vw;
}

.monitors-container {
  border-style: solid;
  border-width: 1px;
  border-color: #d1d5db;
  border-radius: 1.5rem;
  min-width: 720px;
  padding: 0 1.5rem;
}

#monitors table {
  width: 100%;
  table-layout: fixed;
}

#monitors thead {
  height: 3rem;
  line-height: 3rem;
}

#monitors thead th {
  font-weight: 400;
  border-bottom: #d1d5db;
  border-bottom-width: 1px;
  border-style: solid;
}

#monitors tbody th,
#monitors tbody td {
  border-bottom: #d1d5db;
  border-bottom-width: 1px;
  border-style: solid;
  font-weight: 400;
  height: 4rem;
  line-height: 4rem;
}

.add-monitor-form {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

/* Reuseable */

.http-code {
  color: white;
  background-color: var(--_bg-color);
  padding: 0.5rem 1.3rem;
  font-size: 1rem;
  font-weight: 500;
  width: fit-content;
  border-radius: 0.75rem;
}

.http-code-red {
  --_bg-color: #eb5757;
}

.http-code-orange {
  --_bg-color: #f97316;
}

.http-code-green {
  --_bg-color: #07c78b;
}

@media only screen and (min-width: 720px) {
  #stats {
    gap: 1.5rem;
  }

  .stat-card {
    border-radius: 1.5rem;
    padding: 1.5rem;
  }

  .stat-card .stat-card-icon {
    padding: 0.75rem;
  }

  .stat-card .stat-card-icon svg {
    width: 28px;
    height: 28px;
  }

  .stat-card .stat-card-content {
    gap: 1rem;
  }

  .stat-card .stat-card-content span {
    font-size: 1.875rem;
  }

  .issue-card-name {
    font-size: 1.2rem;
  }

  .http-code {
    padding: 0.5rem 1.5rem;
    font-size: 1.3rem;
    border-radius: 0.75rem;
  }
}

@media only screen and (min-width: 1000px) {
  #stats {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
