{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div id="monitors" hx-get="/monitors" hx-trigger="every 5s">
  {% include "monitors.html" %}
</div>

<form hx-post="/monitor" hx-target="#monitors" hx-swap="beforeend">
  <input id="name" name="name" placeholder="Name" type="text" required />
  <input id="target" name="target" placeholder="https://example.com" type="url" required />
  <input id="cron" name="cron" placeholder="1/20 * * * * *" type="text" required />
  <button type="submit">Submit</button>
</form>

{% endblock %}
