{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<header>
  <p class="title">Is It <span>Online?</span></p>
  <a href="/settings" class="settings">
    <svg xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 -960 960 960" width="28"><path d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z"/></svg>
  </a>
</header>

<section id="stats">
  <div class="stat-card start-card-green">
    <p>Online Monitors</p>
    <div class="stat-card-content">
      <div class="stat-card-icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 -960 960 960" width="28"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
      </div>
      <span>{{ online_monitors }}</span>
    </div>
  </div>

  <div class="stat-card start-card-red">
    <p>Offline Monitors</p>
    <div class="stat-card-content">
      <div class="stat-card-icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 -960 960 960" width="28"><path d="M330-120 120-330v-300l210-210h300l210 210v300L630-120H330Zm36-190 114-114 114 114 56-56-114-114 114-114-56-56-114 114-114-114-56 56 114 114-114 114 56 56Zm-2 110h232l164-164v-232L596-760H364L200-596v232l164 164Zm116-280Z"/></svg>
      </div>
      <span>{{ offline_monitors }}</span>
    </div>
  </div>

  <div class="stat-card start-card-orange">
    <p>Warnings</p>
    <div class="stat-card-content">
      <div class="stat-card-icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 -960 960 960" width="28"><path d="m40-120 440-760 440 760H40Zm138-80h604L480-720 178-200Zm302-40q17 0 28.5-11.5T520-280q0-17-11.5-28.5T480-320q-17 0-28.5 11.5T440-280q0 17 11.5 28.5T480-240Zm-40-120h80v-200h-80v200Zm40-100Z"/></svg>
      </div>
      <span>{{ warnings }}</span>
    </div>
  </div>

  <div class="stat-card start-card-blue">
    <p>Average Uptime</p>
    <div class="stat-card-content">
      <div class="stat-card-icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 -960 960 960" width="28"><path d="M440-160v-487L216-423l-56-57 320-320 320 320-56 57-224-224v487h-80Z"/></svg>
      </div>
      <span>{{ average_uptime }}%</span>
    </div>
  </div>
</section>

{% if issues.len() > 0 %}
  <section id="issues">
    <h2>Active Issues</h2>

    <div class="issue-cards">
      {% for IssueTemplate { timestamp, success, http_code, name, target } in issues %}
        {% include "issue.html" %}
      {% endfor %}
    </div>
  </section>
{% endif %}

<section id="monitors">
  <h2>Monitors</h2>

  <div class="monitors-outer">
    <table>
      <thead>
        <tr>
          <th scope="col">Monitor</th>
          <th scope="col">Status</th>
          <th scope="col">Response Time</th>
          <th scope="col">Checked</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody id="monitors-table-body" hx-ext="sse" sse-connect="/monitor-updates">
        {% include "monitors.html" %}
      </tbody>
    </table>

    <form hx-post="/monitor" hx-target="#monitors-table-body" hx-swap="beforeend" class="add-monitor-form">
      <input id="name" name="name" placeholder="Name" type="text" required />
      <input id="target" name="target" placeholder="https://example.com" type="url" required />
      <input id="cron" name="cron" placeholder="1/20 * * * * *" type="text" required />
      <button type="submit">Add</button>
    </form>
  </div>
</section>

{% endblock %}
