<tr id="monitor-{{ id }}">
  <td>{{ name }}</td>
  <td>
    {% match status %}
      {% when Status::Online %} 🟢 Online
      {% when Status::Offline %} 🔴 Offline
      {% when Status::Pending %} 🟠 Pending
    {% endmatch %}
  </td>
  <td>
    {% match timestamp %}
      {% when Some with (val) %} {{ val }}
      {% when None %} Pending...
    {% endmatch %}
  </td>
  <td>
    <button class="w-2" hx-delete="/monitor/{{ id }}" hx-trigger="click" hx-target="#monitor-{{ id }}" hx-swap="delete">X</button>
  </td>
</tr>
