<div id="monitor-{{ id }}" class="flex flex-row gap-6">
  <p class="w-20">{{ name }}</p>
  <p class="w-20">
    {% match status %}
      {% when Status::Online %} 🟢 Online
      {% when Status::Offline %} 🔴 Offline
      {% when Status::Pending %} 🟠 Pending
    {% endmatch %}
  </p>
  <p class="w-40">
    {% match timestamp %}
      {% when Some with (val) %} {{ val }}
      {% when None %} Pending...
    {% endmatch %}
  </p>
  <button class="w-2" hx-delete="/monitor/{{ id }}" hx-trigger="click" hx-target="#monitor-{{ id }}" hx-swap="delete">X</button>
</div>
